

<h1><%= @track.title %></h1>
<h2>Track details</h2>
<body>
  <table>
    <% @track.attributes.each do |attr, val| %>
     <tr><th><%= "#{attr}"%></th><td><%="#{val}" %></td></tr>
    <%  end %>
  </table>

  <br>

  <p> <%= link_to "Edit Track", edit_track_url(@track) %> </p>
  <p> <%= button_to "Delete Track", track_url(@track), method: :delete%></p
  <br><br>

  <p> <%= link_to "Back to #{@track.album.title}", album_url(@track.album) %></p>

  <% @track.notes.each do |note| %>
    <%= render "notes/note", :note => note, :action => :show %>
  <% end %>

  <%= render "form", :track => @track, :action => :new %>



</body>