<h1><%= @band.name %></h1>
<h2>Band details</h2>
<body>
  <table>
    <% @band.attributes.each do |attr, val| %>
     <tr><th><%= "#{attr}"%></th><td><%="#{val}" %></td></tr>
    <%  end %>
  </table>

  <br><br>
  <p> <%= link_to "Add album", new_band_album_url(@band) %> </p>
  <br>
  <ul>
    <% @band.albums.each do |album| %>
      <p> <%= link_to "#{album.title}", album_url(album) %></p>
    <% end %>
  </ul>

  <br>
  <p> <%= button_to "Delete Band", band_url(@band), method: :delete%>

  <p> <%= link_to "Edit Band", edit_band_url(@band) %> </p>

  <p> <%= link_to "Index", bands_url %> </p>

</body>